<div class="WT-container">
	<h1>About</h1>
    <div id="row">
        <div class="FL">
            <p>We are a team dedicated to providing our readers with the latest tech news. From innovations in code to the latest breaks in the world of gaming we have you covered. We strive to offer instructional events to educate our readers. In addition to tech news we also strive to provide the lastest breaks in local and national sports news. We are open to suggestions and urge our readers to contact us.</p>
        </div>
        <div class="FR"></div>
    </div>
</div>