<title>Western Tech | Athletics</title><div class="WT-container">
    <h2>Western Athletics</h2>
    <div class="WT-row">
        <div class="WT-top-widget">
            <div class="scoreboard"></div>
            <h2>Men's Basketball</h2>
            <div>The Men are off to the playoffs! Join us this Saturday at 3 pm to send our Viking team off to Florida.</div>
            <span class="WT-muted">Let's go Men!</wwwuvikings></span>
        </div>
        <div class="WT-top-widget">
            <div class="bleachers"></div>
            <h2>Women's Volleyball</h2>
            <div>WWU finished the season with an all time high winning streak in Western history.</div>
            <span class="WT-muted">Let's go Ladies!</span>
        </div>
        <div class="WT-top-widget">
            <div class="track"></div>
            <h2>Track and Field</h2>
            <div>A new season is underway! We ended 2018 strong and continued our victory onto winning
                the track tournament in Seattle last Saturday. 
            </div>
            <span class="WT-muted">Way to go Vikings!</span>
        </div>
        <div class="WT-top-widget">
            <div class="trophies"></div>
            <h2>Women's Soccer</h2>
            <div>The Vikings have reached the new season of Women's Soccer! We will be 
                recruiting 5 new girls this Sunday, so come join us in the Western Gymnasium at 5 pm!
            </div>
            <span class="WT-muted">Welcome new Vikings!</span>
        </div>
    </div>
</div>