<div class="WT-container">
    <h1>Events</h1>
    <div class="BTP">
        <p>
            Your place to find the exciting events held by Western Tech
        </p>
    </div>
    <div class="ATC">
    <div class="BTC">
        <h2>Feburary</h2>
        <h4>13th and 14th <br>
        Basic HTML Workshop</h4>
        <p>Come into our offices and recieve a basic course in HTML. <br>
        10am-5pm </p>
        <h4>22nd and 23rd <br>
        Advanced HTML Workshop</h4>
        <p>We are holding an advanced HTML course in the community center on Forest Street. If you have attended our basic course feel free to stop in! <br>
        1pm-6pm</p>
    </div>
        <div class="BTC">
        <h2>March</h2>
        <h4>14th <br>
        Comprehensive CSS Workshop</h4>
        <p>Come down to our offices to learn the CSS needed to properly style you HTML pages! <br>
        10am-6pm</p>
        <h4>19th <br>
        HTML Marathon</h4>
        <p>Missed our previous classes in HTML? Don't Sweat it! We are holding a 12 hour catch up course at the community center on Forest Street. Feel free to stop in! <br>
        8am-8pm</p>
        </div>
    </div>
    <p>Make sure to check this page regularly for any updates or changes to our schedule.</p>
</div>