<div class="WT-container">
    <h1>FAQ</h1>

    <div class="A">
        <a ng-click="scrollTo('001')">Where do the photos on our website come from?</a> <br> <br>
        <a ng-click="scrollTo('002')">Where do we offer our instructional classes?</a> <br> <br>
        <a ng-click="scrollTo('003')">Who teaches our instructional classes?</a> <br> <br>
        <a ng-click="scrollTo('004')">Where can I find the featured stories?</a> <br> <br>
        <a ng-click="scrollTo('005')">Where does our content come from?</a> <br> <br>
        <a ng-click="scrollTo('006')">How long have we been around?</a> <br> <br>
        <a ng-click="scrollTo('007')">Do you need to have a subscription to read our news?</a> <br><br>
        <a ng-click="scrollTo('008')">How many people are on our team?</a> <br><br>
        <a ng-click="scrollTo('009')">What if I don't see my question here?</a>
    </div>
    <div class="B">
        <h3 id="001">Where do the photos on our website come from?</h3>
        <p>We have an in-house photographer that takes all the photos you see on our website!</p>
    </div>
    <div class="B">
        <h3 id="002">Where do we offer our instructional classes?</h3>
        <p>Our instructional classes are almost always held in either our offices or the community center on Forest Street. Check our events page for more info.</p>
    </div>
    <div class="B">
        <h3 id="003">Who teaches our instructional classes?</h3>
        <p>One of our dedicated staff members volunteers their time to provide our readers with these free classes.</p>
    </div>
    <div class="B">
        <h3 id="004">Where can I find the featured stories?</h3>
        <p>The featured stories can be found on our home page.</p>
    </div>
    <div class="B">
        <h3 id="005">Where does our content come from?</h3>
        <p>Our dedicated staff members scour the web in order to make sure our readers are recieving the hottest tech news as soon as it breaks. </p>
    </div>
    <div class="B">
       <h3 id="006">How long have we been around?</h3>
       <p>We have been faithfully serving our reader base since January 2019.</p>
    </div>
    <div class="B">
        <h3 id="007">Do you need to have a subscription to read our news?</h3>
        <p>We are proud to offer a completely free news experience for our readers. No subscriptions required.</p>
    </div>
    <div class="B">
        <h3 id="008">How many people are on our team?</h3>
        <P>Our team is currently made up of a 5 person staff.</P>
    </div>
    <div class="B">
        <h3 id="009">What if I don't see my question here?</h3>
        <p>If you don't see your question here then visit our contact page. We love to hear from our readers and are very happy to answer any additional questions!</p>
    </div>
</div>