<div class="WT-container">
	<div class="WT-result__bodyF center">
	<h3>Videos</h3>
		<video width="560" height="315" controls>
		<source src="video/mymovie1.mp4" type="video/mp4">
		</video> <br>
		<a href="#">Featured video of the week.</a>
		<p> Around the campus of Western Washington University.</p>
		<div class="WT-result__caption">By <a href="#">Raymond Kober</a> | 09 March 2019</div>

	</div> <br>
	<h3>Stories</h3>
	
	<ul class="WT-resultsF">
		<li class="WT-resultF">
			<div class="WT-result__thumbnail">
				<img class="resize1" src="img/lazy.JPG">
			</div>

			<div class="WT-result__bodyF">
				<a href="#">The story behind the guy laying on the stones. </a>
				<p>This is the story of the lazy man that you can see everyday while passing by to go to class. What is the meaning of this man and why is here there? Is it art, or is it the symbol that all students are lazy?</p>
				<div class="WT-result__caption">By <a href="#">Frank The Tank</a> | 26 February 2019</div>
			</div>
		</li>

		<li class="WT-resultF">
			<div class="WT-result__thumbnail">
				<img class="resize1" src="img/stairs.JPG">
			</div>

			<div class="WT-result__bodyF">
				<a href="#">As seen these stairs can turn into a great way to get a workout between class.</a>
				<p>several workouts that can be done in less than an hour just by using these stairs. As the trend grows the campus becomes more fit.</p>
				<div class="WT-result__caption">By <a href="#">Silly Billy</a> | 26 February 2019 </div>
			</div>
		</li>

		<li class="WT-resultF">
			<div class="WT-result__thumbnail">
				<img class="resize1" src="img/trophies.JPG">
			</div>

			<div class="WT-result__bodyF">
				<a href="#">All the trophies but yet game attendance continues to go down.</a>
				<p>This is the story of the lazy man that you can see everyday while passing by to go to class. What is the meaning of this man and why is here there? Is it art, or is it the symbol that all students are lazy? </p>
				<div class="WT-result__caption">By <a href="#">Jakie Robinson</a> | 26 February 2019 </div>
			</div>
		</li>

		<li class="WT-resultF">
			<div class="WT-result__thumbnail">
				<img class="resize1" src="img/log.JPG">
			</div>

			<div class="WT-result__bodyF">
				<a href="#">Northwest Washington founded and orgined from logging and the gold rush. Western Washington embracing the traditions.</a>
				<p>This is the story of the lazy man that you can see everyday while passing by to go to class. What is the meaning of this man and why is here there? Is it art, or is it the symbol that all students are lazy? </p>
				<div class="WT-result__caption">By <a href="#">Roberto De Niro</a> | 26 February 2019 </div>
			</div>
		</li>
		<br><br>
		

	</ul>
</div>