<div class="WT-container">
    <h2>Top Stories</h2>

    <div class="WT-row">
        <div class="WT-top-widget">
            <img class="resizeme" src="img/earth-11015_640.jpg">

            <a>Scientists at WWU develop a ground-breaking technique for analysing stocks</a>

            <div>The CS department at WWU have released ground-breaking research about predicting stock prices using the public sentiment towards a stock derived from Twitter tweets...</div>
            <span class="WT-muted">Source: Western Tech</span>
        </div>

        <div class="WT-top-widget">
            <img class="resizeme" src="img/science-1182713_640.jpg">

            <a>Bellingham Mathematician makes progress towards developing an efficient unknot algorithm</a>

            <div>A Mathematician in Bellingham has developed the precursor to an algorithm that can efficiently recognize an unknot. This marks major progress towards a problem that has baffled...</div>
            <span class="WT-muted">Source: Western Tech</span>
        </div>

        <div class="WT-top-widget">
            <img class="resizeme" src="img/space-911785_640.jpg">

            <a>Amateur WWU astronomer spots the a brand new nebula</a>
            
            <div>Now named NGC 9999, the MickeyMouse nebula was discovered recently by an astronomy student in Bellingham, WA. Characterized by its large ears and red vest, this nebula... </div>
            <span class="WT-muted">Source: Western Tech</span>
        </div>

        <div class="WT-top-widget">
            <img class="resizeme" src="img/spaceship-2057420_640.jpg">

            <a>A timeologist has invented a time machine which can send objects into the past.</a>

            <div>A relatively new field of study, timeology, has now made significant contributions to our understanding of time. A new machine has been developed at WWU that can send small nearly three bajillionths of a second into the past...</div>
            <span class="WT-muted">Source: Western Tech</span>
        </div>
    </div>
</div>

<div class="WT-results__container">
    <div class="WT-container">
        <h2>More Recent Stories</h2>

        <ul class="WT-results">
            <li class="WT-result">
                <div class="WT-result__thumbnail">
                    <img class="resizeme1" src="img/steampunk-3222894_640.jpg">
                </div>

                <div class="WT-result__body">
                    <a>A watch has been created that is powered using body heat and solar energy.</a>
                    <div class="WT-result__caption">By <a>Briar Daffodil
</a> | 26 February 2019 | Sourced from Western Tech</div>
                </div>
            </li>

            <li class="WT-result">
                <div class="WT-result__thumbnail">
                    <img class="resizeme1" src="img/teens-629046_640.jpg">
                </div>

                <div class="WT-result__body">
                    <a>Prosthetic research reaching new frontiers</a>
                    <div class="WT-result__caption">By <a>Laryn Nichola</a> | 26 February 2019 | Sourced from Western Tech</div>
                </div>
            </li>

            <li class="WT-result">
                <div class="WT-result__thumbnail">
                    <img class="resizeme1" src="img/ball-63527_640.jpg">
                </div>

                <div class="WT-result__body">
                    <a>Researchers have used quantum computers to crack web traffic encryption.</a>
                    <div class="WT-result__caption">By <a>Mark Oscar</a> | 26 February 2019 | Sourced from Western Tech</div>
                </div>
            </li>

            <li class="WT-result">
                <div class="WT-result__thumbnail">
                    <img class="resizeme1" src="img/artificial-intelligence-3382507_640.jpg">
                </div>

                <div class="WT-result__body">
                    <a>Artificial intelligence programs can now fully simulate the human brain</a>
                    <div class="WT-result__caption">By <a>Morley Josh</a> | 26 February 2019 | Sourced from Western Tech</div>
                </div>
            </li>
        </ul>
    </div>
</div>
