<div class="WT-container">
    <h2>Breaking News</h2>
    <br>
    <ul class="WT-results">
        <li class="WT-result">
            <div class="WT-top-widget">
                <img src="img/image1.jpg" width="250px" height="250px">
            </div>

            <div class="WT-result__body">
                <a>Mysterious knitter placing scarfes on various pieces of art over campus</a>
                <div class="WT-result__caption">By <a>Raymond Kober</a> | 5 March 2019 </div>
                <div>Monday morning, students were shock to see various art pieces over campus were given scarfs. No one has came forward claiming this heinous act...</div>

            </div>
        </li>
        <br>

        <li class="WT-result">
            <div class="WT-result__thumbnail">
                <img src="img/image2.jpg" width="250px" height="250px">
            </div>

            <div class="WT-result__body">
                <a>Bellingham rated best city to live in the Northwest for 7th consecutive year</a>
                <div class="WT-result__caption">By <a>Justin Holmes</a> | 5 March 2019 </div>
                <div>Bellingham was rated the best city to live in the Northwest by the Bellingham Herald for its 7th consecutive year...</div>

            </div>
        </li>
        <br>

        <li class="WT-result">
            <div class="WT-result__thumbnail">
                <img src="img/image3.jpg" width="250px" height="250px">
            </div>

            <div class="WT-result__body">
                <a>AS report Canadian collusion in student election </a>
                <div class="WT-result__caption">By <a>Rose Koch</a> | 5 March 2019</div>
                <div>Reports of some student elects were colluding with the Canandians to get an advantage during the elections, more updates to come ...</div>

            </div>
        </li>
        <br>

        <li class="WT-result">
            <div class="WT-result__thumbnail">
                <img src="img/image4.jpg" width="250px" height="250px">
            </div>

            <div class="WT-result__body">
                <a>Many students dissapointed because they couldn't get Double Major tickets</a>
                <div class="WT-result__caption">By <a>Rose Koch</a> | 5 March</div>
                <div>As hundreds of students scramble to the lawn for an attempt to get discounted tickets to the Double Major concert...</div>

            </div>
        </li>
    </ul>
     <br>
     <br>
</div>