<div class="WT-container">
    <h2>Western Tech Sitemap</h2>
    <div class="WT-row">
        <ul>
			<li>
				<a ng-click="navigate('/')">Home</a>
				
				<ul>
					<li><a ng-click="navigate('/features')">Featured</a> - Featured articles.</li>
					<li><a ng-click="navigate('/events')">Events</a> - Western Tech hosted events.</li>
					<li><a ng-click="navigate('/contact')">Contact</a> - Drop us a message if you have ideas for improving the site.</li>
					<li><a ng-click="navigate('/about')">About</a> - Learn about how Western Tech came about.</li>
					<li><a ng-click="navigate('/news')">News</a> - Latest and greatest tech news.</li>
					<li><a ng-click="navigate('/calendar')">Calendar</a> - See scheduled events and activities hosted by Western Tech.</li>
					<li><a ng-click="navigate('/studentlife')">Student Life</a> - What its like to be a member Western Tech</li>
					<li><a ng-click="navigate('/faq')">FAQ</a> - Frequently asked questions.</li>
					<li><a ng-click="navigate('/sitemap')">Sitemap</a> - This!</li>
				</ul>
			</li>
		</ul>
    </div>
</div>