<div class="WT-container">
    <h2>Student life</h2>
    <div class="WT-row">
        <div class="WT-top-widget">
            <img src="img/image5.jpg" width="250px" height="250px">
            <a href="#">Western Clubs</a>
            <div>Western has many clubs, at least one to catch your eye. Ranging from underwater basketweaving to acapella. Visit www.wester... </div>
            <span class="WT-muted">Click to read more</span>
        </div>
        <div class="WT-top-widget">
            <img src="img/image6.jpg" width="250px" height="250px">
            <a href="#">Disability and other services</a>
            <div>Western Washington University is proud to make school life more accesible, we have many services to accomdate various needs, vist...</div>
            <span class="WT-muted">Click to read more</span>
        </div>
        <div class="WT-top-widget">
            <img src="img/image7.jpg" width="250px" height="250px">
            <a href="#">Financial Aid</a>
            <div>Western Washington University has a financial aid office to help students get scholarships and grants. Please visit www.westernwas...</div>
            <span class="WT-muted">Click to read more</span>
        </div>
        <div class="WT-top-widget">
            <img src="img/image8.jpg" width="250px" height="250px">
            <a href="#">Bellingham</a>
            <div>Western Washington University is located in Bellingham, Washington. Just north of Seattle, we are a beautiful location with many activities to do...</div>
            <span class="WT-muted">Click to read more</span>
        </div>
    </div>
</div>